
.Boards {
    height: 95vh;
    /* width: 100%; */
    /* display: flex; */
}

.Board {
    width: 100%;
    margin-top: 1%;
    height: 50%;
    /* border: 1px solid red */;
    display: flex;
}

.graveyard-board{
    width: 12%;
    margin: -35% 0 0 87%;
    height: 280px;
    position: absolute;
}



.Board h4 {
    margin-bottom: 5%;
    float: right;
    position: absolute;
    margin-left: 70%;
    
}

.player1-board h4{
    color: var(--blueTeam);
}

.player2-board h4{
    color: var(--redTeam);
}

.graveyard-board h4{
    margin: 4% 0 0 30%;
    padding: 0;
}

.dropzone {
    height: auto;
    border: 2px dashed #ccc;
    padding: 10px;
    display: flex;
}

.card-i{
    margin: 2%;
    width: 11%;
}

.icon {
    cursor: grab;
}

.icon.card-i {
    height: 200px;
}

.icon.card-i{
    background-color: var(--CardBackground);
    transition: z-index var(--smoothFPS) ease; 
    -webkit-box-shadow: -11px 13px 14px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -11px 13px 14px 0px rgba(0,0,0,0.66);
    box-shadow: -11px 13px 14px 0px rgba(0,0,0,0.66);
}

.its-over {
    background-color: rgba(31, 168, 168, 0.267);
}

.is-dragging {
    opacity: 0.5;
}

.drag-enter{
    border: 2px dashed blue;
}


.deck{
    background-color: transparent;
    width: 8%;
    height: 200px;
    border: 1px solid var(--textColorBoard);
    position: absolute;
    cursor: pointer;
    margin: 20% 0 0 1%;
}

.pass-turn{
    background-color: transparent;
    width: 10%;
    height: 100px;
    border: 1px solid var(--textColorBoard);
    position: absolute;
    cursor: pointer;
    margin: 35% 0 0 88%;
}

.game-stats{
    position: absolute;
    margin: 0 0 0 1%;
}

.game-stats #turn-view{
    color: var(--textColorBoard);
}

.player-hud{
    position: absolute;
    margin: -10% 0 0 1%;
}

.player-hud h4, .player-hud b{
    color: var(--textColorBoard);
    font-size: 1.2em;
}

.disabled {
    pointer-events: none; /* Impede qualquer interação com os elementos */
    opacity: 0.5; /* Visualmente indica que o elemento está desativado */
}

.non-interactive{
    pointer-events: none;
}

.graveyard{
    margin: 0;
    width: 85%;
    position: relative;

}

.graveyard .icon.card-i {
    position: absolute;
    margin: 15% 0 0 15%;
    width: 65%;
    box-shadow: none    ;
}

.commander{
    margin: 5% 0 0 11%;
    width: 7%;
    height: 230px;
    position: absolute;
}

.commander .card-i{
    width: 95%;
}

.onboard{
    margin: 0 0 0 23%;
    width: 60%;
    height: 240px;
}

.player2-table{
    margin: 9.5% 0 0 23%;
}

.onhand{
    margin: 0 0 0 23%;
    width: 60%;
    position: absolute;
    border: 2px dashed #36fa00;
}

.view-graveyard{
    background-color: transparent;
    width: 9.5%;
    height: 40px;
    border: 1px solid var(--textColorBoard);
    position: absolute;
    cursor: pointer;
    margin: 28% 0 0 88%;
}

@keyframes card-drop-impact {
    0% { transform: translateY(-100%); opacity: 0; }
    60% { transform: translateY(10%); }
    100% { transform: translateY(0%); opacity: 1; }
}

.card-drop-impact {
    animation: card-drop-impact 0.5s ease forwards;
}

#grave-count{
    margin: 4% 0 0 70%;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 26px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Carousel styles */
.carousel {
    display: flex;
    overflow-x: scroll;
}

.carousel-item {
    width: 9%;
    height: 200px;
    margin: 0 10px;
    background-color: #ddd;
    padding: 20px;
    -webkit-box-shadow: -11px 13px 14px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -11px 13px 14px 0px rgba(0,0,0,0.66);
    box-shadow: -11px 13px 14px 0px rgba(0,0,0,0.66);
}

.hand {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 150px; /* Ajuste conforme necessário */
}

.player1-hand{
    margin: 14% 0 0 23%;
}

.hand .card-i {
    /* margin-left: -30px; */ /* Espaçamento entre as cartas */
    transition: 0.2s ease-in-out;
    height: 153px;
}

.hand .card-i:hover {
    margin: -5% 0 0 3%;
    height: 215px;
}

.card-hidden {
    background-image: url('../assets/backplate.jpg'); /* Path to the back of the card image */
    background-size: cover;
    margin-top: -0.5%;
}
