
.Boards {
    height: 95vh;
    /* width: 100%; */
    /* display: flex; */
}

.Board {
    width: 100%;
    margin-top: 1%;
    height: 50%;
    /* border: 1px solid red */;
    display: flex;
}

.graveyard-board{
    width: 12%;
    margin: -35% 0 0 87%;
    height: 280px;
    position: absolute;
}



.Board h4 {
    margin-bottom: 5%;
    float: right;
    position: absolute;
    margin-left: 70%;
    
}

.player1-board h4{
    color: var(--blueTeam);
}

.player2-board h4{
    color: var(--redTeam);
}

.graveyard-board h4{
    margin: 4% 0 0 30%;
    padding: 0;
}

.dropzone {
    height: auto;
    border: 2px dashed #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.card-i{
    margin: 2%;
    width: 11%;
}

.icon {
    cursor: grab;
}

.icon.card-i {
    height: 200px;
}

.icon.card-i{
    background-color: var(--CardBackground);
    transition: z-index var(--smoothFPS) ease; 
}

.its-over {
    background-color: rgba(31, 168, 168, 0.267);
}

.is-dragging {
    opacity: 0.5;
}

.drag-enter{
    border: 2px dashed blue;
}


.deck{
    background-color: transparent;
    width: 10%;
    height: 250px;
    border: 1px solid var(--textColorBoard);
    position: absolute;
    cursor: pointer;
    margin: 15% 0 0 3%;
}

.pass-turn{
    background-color: transparent;
    width: 10%;
    height: 100px;
    border: 1px solid var(--textColorBoard);
    position: absolute;
    cursor: pointer;
    margin: 35% 0 0 89%;
}

.game-stats{
    position: absolute;
    margin: 0 0 0 1%;
}

.game-stats #turn-view{
    color: var(--textColorBoard);
}

.player-hud{
    position: absolute;
    margin: -10% 0 0 1%;
}

.player-hud h4, .player-hud b{
    color: var(--textColorBoard);
    font-size: 1.2em;
}

.disabled {
    pointer-events: none; /* Impede qualquer interação com os elementos */
    opacity: 0.5; /* Visualmente indica que o elemento está desativado */
}

.non-interactive{
    pointer-events: none;
}

.graveyard{
    margin: 0;
    width: 100%;
}

.commander{
    margin: 5% 0 0 17%;
    width: 10%;
    height: 280px;
    position: absolute;
}

.onboard{
    margin: 0 0 0 30%;
    width: 54%;
}