
.Boards {
    height: 95vh;
    /* width: 100%; */
    /* display: flex; */
}

.Board {
    width: 100%;
    margin-top: 1%;
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
}

.graveyard-board{
    width: 12%;
    margin: -20% 0 0 87%;
    height: 280px;
    position: absolute;
}

.Board h4 {
    margin-bottom: 5%;
    float: right;
    position: absolute;
    margin-left: 70%;
    color: var(--textColorBoard);
}

.graveyard-board h4{
    margin: 4% 0 0 30%;
    padding: 0;
}

.dropzone {
    height: auto;
    border: 2px dashed #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.table{
    width: 70%;
    margin: 0 0 0 15%;
}

.card-i{
    margin: 2%;
    width: 11%;
}

.icon {
    cursor: grab;
}

.icon.card-i {
    height: 200px;
}

.icon.card-i{
    background-color: var(--CardBackground);
    transition: z-index var(--smoothFPS) ease; 
}

.its-over {
    background-color: rgba(31, 168, 168, 0.267);
}

.is-dragging {
    opacity: 0.5;
}

.drag-enter{
    border: 2px dashed blue;
}

/* .icon.card-i:hover {
    transform: scale(1.5);
    transition: transform var(--smoothFPS) ease; 
    z-index: 1; 
}
 */
.player-board {
    order: 2; /* A board do jogador será a segunda a ser exibida */
}

.opponent-board {
    order: 1; /* A board do oponente será a primeira a ser exibida */
}

.deck{
    background-color: transparent;
    height: 200px;
    border: 1px solid var(--textColorBoard);
    position: absolute;
    cursor: pointer;
    margin: 30% 0 0 3%;
}